@media screen  and (max-width: 1200px) and (min-width: 883px) {
 .figure {
    width: 150px;
    height: 150px;
    background-color: rgb(66, 66, 235);
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #74e57d;
 }   
}

@media screen and ( max-width:883px) and (min-width: 540px) {
    .figure {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 20px;
        background-color: rgb(148, 8, 8);
        padding: 20px;
        margin: 20px;
        color: rgb(239, 204, 152);
        text-align: center;

    }
}

@media screen  and (max-width:540px) and (min-width:320px) {
    .figure {
        width: 250px;
        height: 150px;
        background-color: rgb(250, 113, 136);
        color: beige;
        margin: 20px;
        padding: 20px;
        text-align: center;


    }
}
@media screen and (max-width:320px){
    .figure {
        width: 200px;
        height: 130px;
        border-radius: 50%;
        background-color: black;
    }
    
}