@media screen  and (max-width: 1200px) and (min-width: 883) {
 .figure {
    width: 150px;
    height: 150px;
    background-color: rgb(66, 66, 235);
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: #74e57d;
 }   
}

@media screen and ( max-width:883) and (min-width: 540) {
    .figure {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 20px;
        background-color: rgb(148, 8, 8);
        padding: 20px;
        margin: 20px;
        color: rgb(239, 204, 152);
        text-align: center;

    }
}

@media screen  and (max-width:540) and (min-width:320) {
    .figure {
        width: 250px;
        height: 150px;
        background-color: rgb(250, 113, 136);
        color: beige;
        margin: 20px;
        padding: 20px;
        text-align: center;


    }
}
@media screen and (max-width:320){
    .figure {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px;
        border-top: 100px solid #000;

    }
    
}