.element {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(90, 214, 173);
    border-radius: 50%;
    border: solid rgb(57, 137, 110);
    animation: 7s  "lily" infinite alternate , color 2s;
    
} 


.css {
    width:140px;
    height: 80px;
    background-color: #c4008c;
    transition:  linear;
    margin-top: 50%;
    text-align: center;
    font-size: 40px;
    border: red;
    animation: "point" 7s infinite alternate ;
  }
  
  .css:hover {
    border-radius: 50% ;
    background-color: #b5b53f;
    }



    @keyframes point{
    0%{
        left: 80px;
        
     }
     100% {
         left:200px;
     }
}






@keyframes lily{
    0% {
     
      left: 0;
    }
    50% {
      bottom: 50%;
      background-color: blue;
      border-radius: 0;


    }
    100% {
     background-color: peru;
      left: 500px;
        width: 200px;
    }
  }
 
  .lement :hover{
    background-color: #c4008c;
    

  }


